[submodule "openclash"]
	path = openclash
	url = https://github.com/vernesong/OpenClash.git
	branch = dev
	shallow = true
[submodule "luci-app-mosdns"]
	path = luci-app-mosdns
	url = https://github.com/sbwml/luci-app-mosdns.git
[submodule "luci-app-lucky"]
	path = luci-app-lucky
	url = https://github.com/gdy666/luci-app-lucky.git
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
[submodule "luci-app-quickstart"]
	path = luci-app-quickstart
	url = https://github.com/animegasan/luci-app-quickstart.git
[submodule "OpenAppFilter"]
	path = OpenAppFilter
	url = https://github.com/destan19/OpenAppFilter.git
[submodule "luci-app-adguardhome"]
	path = luci-app-adguardhome
	url = https://github.com/stevenjoezhang/luci-app-adguardhome.git
[submodule "openwrt-daede"]
	path = openwrt-daede
	url = https://github.com/kenzok8/openwrt-daede.git
[submodule "luci-app-tailscale-community"]
	path = luci-app-tailscale-community
	url = https://github.com/Tokisaki-Galaxy/luci-app-tailscale-community.git
[submodule "luci-app-netwizard"]
	path = luci-app-netwizard
	url = https://github.com/sirpdboy/luci-app-netwizard.git
[submodule "luci-app-dockerman"]
	path = luci-app-dockerman
	url = https://github.com/lisaac/luci-app-dockerman.git
[submodule "luci-lib-docker"]
	path = luci-lib-docker
	url = https://github.com/lisaac/luci-lib-docker.git
